<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBczULDvt0pjYAaRinjSNV-r_ZXAPoXUP4</string>
	<key>GCM_SENDER_ID</key>
	<string>637672924345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.study.MyAppLogin</string>
	<key>PROJECT_ID</key>
	<string>myapplogin-2ec91</string>
	<key>STORAGE_BUCKET</key>
	<string>myapplogin-2ec91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637672924345:ios:6338c9040d7ae01bd16768</string>
</dict>
</plist>